header{
	margin: 0 auto;
	top: 10px;
	text-align: center;
	font-size: 35px;
}
body{
	background-image: url("/images/fullbg.jpg");
	background-size: cover;
	/*background-color: orange;*/
}

nav{
	display:block;
	padding: 30px;
	text-align: center;
	font-weight: bold;

}
a{
	text-decoration: none;
	color: black;
	padding: 5PX 15px;
}



	
/*
p{
	text-align: justify;
	position: absolute;
	height: 10%;
	bottom: 0px;
	text-align: bottom;
	background-color: black;
	color: white;

  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));

}
*/

footer{
	background-color: silver;
	position: fixed;
	text-align: center;
	bottom:2px;
	left: 25%;
	right: 25%;
}

.container{
	width: 90%;
	margin: 0 auto;
	display: block;
	overflow: auto;
	background-color: orange;
}
.burger{
	float: left;
	margin: 60px 50px 50px 60px;
	position: relative;
	padding: 50px 40px;
	background: url("/images/burger.jpg");
	background-size: cover;
}

.curry{
	float: left;
	margin: 60px 50px 50px 60px;
	position: relative;
	padding: 50px 40px;
	background: url("/images/curry.jpg");
	background-size: cover;

}
.steak{

	position: relative;
	float: left;
	margin: 60px 50px 50px 60px;
	padding: 50px 40px;
	background: url("/images/steak.jpg");
	background-size: cover;
}


.caption{
	border-style: dashed;
	position: relative;
	width: 200px;
	bottom: 0px;
	/*margin-bottom: 0px;
	margin-top: ;
	padding: 0;
	border:.4 dashed;
	position: relative;
	bottom:0;
*/

}














.clearfix:after {
content: "";
display: table;
clear: both;
}
@media (max-width: 850px){
	.burger{
		display: inline-block;
		background-color: yellow;
		margin: 5px 50%;
		float: none;

	}
	.steak{
		display: inline-block;
		margin: 5px auto;
		float: none;
	
	}
	.curry{
		display: inline-block;
		margin: 5px auto;
		float: none;
	
	}
}