header{
	border-style: solid;
}
nav{
	border-style: solid;
	padding: 5px 20px;
}

footer{
	border-style: dashed;
	position: fixed;
	bottom:2px;
	left: 25%;
	right: 25%;
}
.container{
	border-style: dashed;
	bottom: 20px;
	display: block;
	overflow: auto;
}

.one{
	border: red solid;
	float: left;
	margin: 0 auto;
	padding: 30px 25px;
	background-color: red;
}
.two{
	border: blue solid;
	float: left;
	margin: 30px;
	padding: 30px 25px;
}
.three{
	border: blue solid;
	float: left;
	margin: 0 auto;
	padding: 30px 25px;
}
.clearfix:after {
content: "";
display: table;
clear: both;
}
@media (max-width: 600px){
	.one{
		display: block;
		background-color: yellow;
		margin: 0 auto;
		float: none;
	}
	.two{
		display: block;
	}
	.three{
		display: block;
	}
}